

.main-content {
    height: fit-content;
    width: 100vw;
    display: flex;
    background: #191616;
    color: #FFFFFF;
    flex-direction: row;
    position: relative;
    padding-top: 35px;
    transition: background-color 1s ease;
    

}

.cabin-image-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    width: 50%;
}

.cabin-description-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 125px;
    height: 100vh;
    justify-content: center;
    position: sticky;
    top: 0;
    align-self: flex-start;
}


.cabin-text {
    width: 35%;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    padding: 10px 50px;
    filter: blur(1px);
    transform: translateX(75px);
    transition: all 1s;
    position: absolute;
}

.title {
    font-size: 33px;
    font-weight: 200;
}

.description {
    font-size: 18px;
    margin-top: 15px;
    font-weight: 200;
}


.inverse {
    flex-direction: row-reverse;
}


.full-vh-container {
    height: 100vh;
}

.responsive-img-container {
    margin-left: 0px;
    width: 700px; /* Make the container slightly smaller than the image */
    height: 100%; /* Shrink height in proportion to the image */
    max-width: 1000px; /* Set maximum bounds for the container */
    max-height: 1000px; /* Set maximum bounds for the container */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.responsive-img {
    width: 700px;  /* Scale the width of the image to the width of the container (or window) */
    height: auto; /* Ensure the image maintains its aspect ratio */
    object-fit: contain; /* Ensures the image covers the container */
    transform-origin: center;
    transition: all ease-out 1s;

}

.slide {
    transform: translateX(0);
    filter: blur(0);
}

.hidden {
    transition: all ease-out 1s;
    opacity: 0;
    transform: translateX(-50px);
}

.show {
    opacity: 1;
    transform: translateX(0px);
}

.scale-effect {
    opacity: 1;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}


@media screen and (max-width: 1500px) {
    .responsive-img {
        width: 50%;  /* Scale the width of the image to the width of the container (or window) */
        height: auto; /* Automatically adjust the height to maintain the aspect ratio */
        display: block; /* Ensures there's no extra space below the image */
    }

    .title {
        font-size: 25px;
    }
    
    .description {
        font-size: 16px;

    }
    
}

@media screen and (max-width: 1200px) {
    .responsive-img {
        width: 45%;  /* Scale the width of the image to the width of the container (or window) */
        height: auto; /* Automatically adjust the height to maintain the aspect ratio */
        display: block; /* Ensures there's no extra space below the image */
    }
}

@media screen and (max-width: 1100px) {
    .cabin-section {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px 20px 300px 20px;
        align-items: center;
    }

    .cabin-text {
        width: 90%;
        color: #FFF;
        font-family: 'Inter', sans-serif;
        padding: 0px 0px 0px 0px;
        margin-bottom: 50px;
        text-align: center;
    }

    .responsive-img {
        width: 95%;  /* Scale the width of the image to the width of the container (or window) */
        height: auto; /* Automatically adjust the height to maintain the aspect ratio */
        display: block; /* Ensures there's no extra space below the image */
    }

}


