.outer-div {
    padding: 10px 10px;
    outline: white;
    outline-style: solid;
    outline-width: 1px;
}

.inner-div {
    padding: 5px;
    outline-color: white;
    outline-width: 1px;
    outline-style: solid;
    padding: 10px 50px;
}

@media screen and (max-width: 950px) {
    .outer-div {
        padding: 8px 8px;

    }
    
    .inner-div {
        padding: 8px 40px;
    }
}

@media screen and (max-width: 600px) {
    .outer-div {
        padding: 5px 5px;

    }
    
    .inner-div {
        padding: 5px 25px;
    }
}