.content {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-content: center;
}


.content::-webkit-scrollbar {
  display: none;
}

.main-cabin {
    width: 100%;
    height: auto;
    display: block;
    animation: hero-image-scale linear;
    animation-timeline: view(); /* view(endAtNumPixFromTop, statAtNumPixFromBottom) */
    animation-range: exit -50px;
  }

.black-shadow {
    position: relative;
    width: 100%;
    height: 1080px;
  }
  

  
  .title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -79%);
    color: white; /* Text color for the title */
    padding: 10px 20px; /* Adjust padding as needed */
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    animation: hero-fade-out linear;
    animation-timeline: view();
    animation-range: exit -500px; /* try removing this? */
  }
  .black-shadow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    background-color: black; /* Black with 75% opacity */
    opacity: 0.73;
    z-index: 1;
    animation: hero-shadow-animation linear forwards;
    animation-timeline: view(); /* view(endAtNumPixFromTop, statAtNumPixFromBottom) */
    animation-range: exit -150px;
  }


  #hero-text {
    opacity: 75%;
    border-radius: 0px;
  }
  

  @keyframes line-anim {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fill-middle {
    from {
      fill: transparent;
    }
    to {
      fill: #FDF8EF;
      stroke: transparent;
    }
  }
  @keyframes fill-other {
    from {
      fill: transparent;
    }
    to {
      fill: #D9D9D9;
      stroke: transparent;
    }
  }

  @keyframes hero-fade-out {
    50%, 100% {
      opacity: 0;
    }
  }

  @keyframes hero-shadow-animation {


    25% {
      background-color: rgba(0, 0, 0, 0.50);
    }

     85%, 100% {
      background-color: rgba(0, 0, 0, 1);
    }

  }

  @keyframes hero-image-scale {

     85%, 100% {
      scale: 1.3;
    }

  }


  /* top: 392px for perfect match */
  .black-blur {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    width: 100vw;
    height: 192px;
    z-index: 2;
    position: relative;
    top: -200px;
    margin-bottom: 300px;
  }

  .locations-black-intro {
    position: relative;
    height: 1000px;
    background-color: black;
    width: 100vw;
  }
  

  /* Locations */

  .locations-content {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 550px;
    transition: background-color 1s ease;
    background-color: black;
  }

  .black-blur {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    width: 100vw;
    min-height: 192px;
    z-index: 2;
    position: relative;
    top: -192px;
  }


 

  .video-text {
    font-size: 45px;
    font-family: 'Italiana', sans-serif;
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    outline: #9A8F88;
    outline-style: solid;
    outline-width: 1px;
    }

    .video-text-inner {
      padding: 5px;
      outline-color: #9A8F88;
      outline-width: 1px;
      outline-style: solid;
      padding: 50px 50px;
      color: black;
      background-color: #9A8F88;
    }

  .location-video-container {
    text-align: center;
    position: relative;
    height: fit-content; /* old value 737px */
    width: 70vw; /* old value 90vw */
    align-self: center;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: perspective(1500px) rotateY(7deg) rotateX(7deg);
    transition: transform 0.75s ease-out;
    margin-top: 0px; /* old value 350px */
    
  }

  .location-video-frame {
    transform: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .location-video {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 1px;
    
  }






  .locations-photos-description {
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 33px;
    text-align: center;
    width: 1260px;
    padding: 20px 0px;
    font-weight: 100;
  }
  





  .quote-container {
    padding: 0px 10px;
    font-size: 50px;
    max-width: 750px;
    align-self: center;
    text-align: center;
    font-family: 'Italiana', sans-serif;
    color: white;
    margin-bottom: 35vh;
    transition: opacity 3s ease;
    opacity: 0;
  }

  .quote-att {
    font-size: 35px;
  }


  @media screen and (max-width: 1500px) {
    .main-cabin {
      width: 100%;
      min-width: 1500px;
      height: auto;
      object-fit: cover;
      object-position: center;
      margin-left: 50%;
      transform: translateX(-50%);
    }
    

  }

  

  @media screen and (max-width: 950px) {

    .title-container {
      width: 80vw;

    }

    .two {
      font-size: 20vw;
    }

    .quote-container {
      font-size: 26px;
    }
  
    .quote-att {
      font-size: 18px;
    }

    .location-video-container {
      text-align: center;
      position: relative;
      height: 737px; /* old value 737px */
      width: 90vw; /* old value 90vw */
      align-self: center;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      transform: perspective(1500px) rotateY(7deg) rotateX(7deg);
      transition: transform 0.75s ease-out;
    }


  }


  @media screen and (max-width: 650px) {

    .location-video-container {
      height: 70vh;
    }

    .video-text {
      font-size: 1.5em;
    }




  }
  

  @keyframes balance-video {
    50% {
      transition: all 1.5s;
      transform: perspective(3000px) rotateY(0deg) rotateX(0deg); /* Rotate the div */
    }

    100% {
      transition: all 1.5s;
      transform: perspective(1300px) rotateY(-6deg) rotateX(-5deg); /* Rotate the div */
    }
  }
  

  @keyframes expand {
    0% {
      width: 0;
    }
    100% {
      width: 1068px;
    }
  }